---
import Base from "../layouts/Base.astro";
import { socialLinks } from "../config";
import { Image } from "astro:assets";
---
<Base>
  <section>
    <a href={socialLinks.twitter} target="_blank">
      <Image
        src="/profile.png"
        alt="Profile photo"
        class="rounded-full bg-gray-100 block lg:mt-5 mt-0 lg:mb-5 mb-10 mx-auto sm:float-right sm:ml-5 sm:mb-5 grayscale hover:grayscale-0"
        width={200}
        height={200}
      />
    </a>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">
      About Me
    </h1>
    <div class="prose prose-neutral dark:prose-invert">
      <p>I'm currently:</p>
<ul>
    <li>reading several titles and papers with <a href="https://en.app/" target="_blank">En</a> and <a href="https://consensus.app/" target="_blank">Consensus</a>.</li>
    <li>writing about things I find interesting on <a href="https://adejuyigbe.com/blog">my blog</a>.</li>
    <li>campaigning <a href="https://justgiving.com/page/tiwa">for Autism Awareness Month</a> via <a href="https://autistica.org.uk/">Autistica</a>.</li>
    <li>iterating & building <a href="https://r.mtdv.me/t18e">something special</a>.</li>
</ul>
      <p>
        Some things I'm interested in at the moment: digital monism, sociolinguistics, cryptocurrency & geopolitics, the shadow gig economy, and the legal right to die.
      </p>
    </div>
  </section>
</Base>
