---
import Base from "../layouts/Base.astro";
import { socialLinks } from "../config";
import { Image } from "astro:assets";
---
<Base>
  <section>
    <a href={socialLinks.twitter} target="_blank">
      <Image
        src="/profile.png"
        alt="Profile photo"
        class="rounded-full bg-gray-100 block lg:mt-5 mt-0 lg:mb-5 mb-10 mx-auto sm:float-right sm:ml-5 sm:mb-5 grayscale hover:grayscale-0"
        width={200}
        height={200}
      />
    </a>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">
      About Me
    </h1>
    <div class="prose prose-neutral dark:prose-invert">
      <p>I'm currently:</p>
      <ul>
        <li>...reading fiction with the <a href="https://en.app/" target="_blank">En search engine</a> and research papers through <a href="https://consensus.app/" target="_blank">Consensus</a> and <a href="https://ssrn.com/" target="_blank">SSRN libraries</a>.</li>
        <li>...writing on <a href="https://adejuyigbe.com/blog">my blog</a> about everything from product building to digital dualism. Here are a few of my favourites: <a href="https://adejuyigbe.com/blog/discontent">Discontent</a>, <a href="https://adejuyigbe.com/blog/cide-effects">Cide Effects</a>, <a href="https://adejuyigbe.com/blog/yeah-write">Yeah, Write</a> and <a href="https://adejuyigbe.com/blog/say-my-name">Say My Name</a>. 
        <li>...<a href="https://justgiving.com/page/tiwa">campaigning</a> for the <a href="https://autistica.org.uk/">UK's leading autism research and advocacy charity</a>. Here's why I'm supporting <a href="https://adejuyigbe.com/blog/autistica">Autistica</a></li>
        <li>...building <a href="https://gouldian.xyz">something special</a>. We're not actively fundraising, but open to meeting the right investors.</li>
      </ul>
      <p>
        Some things I'm interested in at the moment: digital ontology, sociolinguistics, omnichain infrastructure, the shadow gig economy, and the legal right to die.
      </p>
      <p>
        Contact me via email (<a href="mailto:mail@t18e.com?subject=Reaching%20out%20from%20your%20website&body=Hi%20Tiwa,%0A%0AReaching%20out%20from%20your%20website.">Hi Tiwa, reaching out from your website</a>) or DM me (<a href="https://linkedin.com/in/tiwa-adejuyigbe">Linkedin.com/in/tiwa-adejuyigbe</a>) to book a call
      </p>
    </div>
  </section>
</Base>
